# CONFIG PARA LA BASE DE DATOS LOCAL

# DB_PORT=
# DB_HOST=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=
# DB_DIALECT=

#CONFIG PARA LA BASE DE DATOS EN CLOUD
DB_URL=

#FIRMA DEL TOKEN
JWT_SECRET=
JWT_EXPIRES_IN=